---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Home from "../components/Home.astro";
import Footer from "../components/Footer.astro";
import Title from "../components/Title.astro";
import TemplatesSection from "../components/TemplatesSection.astro";
---

<Layout title="Dvux">
	<main>
		<Navbar />
		<Home id="inicio" title="TIENDA" subtitle="DVUX" />
		<Title />
		<TemplatesSection />
		<Footer />
	</main>
</Layout>
