---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Home from "../components/Home.astro";
import Welcome from "../components/Welcome.astro";
import Projects from "../components/Projects.astro";
import TextCarousel from "../components/TextCarousel.astro";
import Team from "../components/Team.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Desing from "../components/Desing.astro";
---

<Layout title="Dvux">
	<main>
		<Navbar />
		<Home id="inicio" title="AGENCIA" subtitle="CREATIVA" />
		<Welcome id="servicios"/>
		<Projects id="proyectos"/>
		<Desing id="desing" />
		<TextCarousel />
		<Team id="quienes-somos"/>
		<Contact id="contacto"/>
		<Footer />
	</main>
</Layout>
