<footer
  class="w-full grid grid-cols-2 lg:grid-cols-3 bg-black text-white bottom-0 pb-10"
>
  <section class="w-full py-4 px-12 lg:pl-10 lg:pr-0">
    <div class="pt-5">
      <img class="w-20" src="/logo.webp" alt="logo-dvux" />
    </div>
    <p class="text-sm py-5">
      Estamos disponibles para atenderte en los siguientes medios.
    </p>

    <address class="text-sm py-5">
      <p class="py-1">T: +593 984850656</p>
      <p>E: dvuxlat@gmail.com</p>
    </address>

    <figure class="text-md font-bold py-5 lg:hidden">
      <p>Siguenos</p>
      <ul class="flex gap-3 pt-4">
        <li>
          <a href="https://www.facebook.com/agenciadvux/"
            ><img src="/facebookicon.webp" alt="facebook" /></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/dvuxlat/"
            ><img src="/instagramicon.webp" alt="instagram" /></a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/company/dvux"
            ><img src="/linkedinicon.webp" alt="linkedin" /></a
          >
        </li>
      </ul>
    </figure>
  </section>

  <section>
    <nav class="w-full h-full flex flex-col pl-10 lg:items-start">
      <h2
        class="pt-16 pb-4 text-xl font-semibold relative inline-bloc lg:pl-24"
      >
        Sitemap
        <span class="absolute bottom-0 left-0 h-1 bg-[#3bb7a0] w-14 lg:left-24"
        ></span>
      </h2>

      <ul
        class="w-full h-full flex flex-col py-6 justify-around text-base lg:pl-24"
      >
        <li><a href="/#inicio">Inicio</a></li>
        <li><a href="/#servicios">Servicios</a></li>
        <li><a href="/#proyectos">Proyectos</a></li>
        <li><a href="/catalogo">Catalogo</a></li>
        <li><a href="/#quienes-somos">¿Quiénes somos?</a></li>
      </ul>
    </nav>
  </section>
  <section class="hidden lg:block">
    <p class="font-bold pt-16 pb-4 text-xl pl-14">Siguenos</p>
    <ul class="flex pl-14 gap-7">
      <li>
        <a href="https://www.facebook.com/agenciadvux/"
          ><img src="/facebookicon.webp" alt="facebook" /></a
        >
      </li>
      <li>
        <a href="https://www.instagram.com/dvuxlat/"
          ><img src="/instagramicon.webp" alt="instagram" /></a
        >
      </li>
      <li>
        <a href="https://www.linkedin.com/company/dvux"
          ><img src="/linkedinicon.webp" alt="linkedin" /></a
        >
      </li>
    </ul>
  </section>
</footer>
