<header
  class="flex w-screen justify-between items-center px-1 lg:px-6 lg: bg-transparent fixed top-0 z-10 backdrop-blur-[2px]"
>
  <div class="pl-4 lg:pl-5 lg:flex lg:basis-1/5">
    <img class="w-1/2 lg:w-auto" src="/logo.webp" alt="" />
  </div>
  <nav class="lg:w-full">
    <div class="lg:hidden pr-2 flex justify-end" id="mobile-menu-icon">
      <svg
        width="54"
        height="23"
        viewBox="0 0 24 13"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="0.9375"
          y="0.963867"
          width="23.1706"
          height="2.84239"
          fill="#41B6A1"></rect>
        <rect
          x="0.9375"
          y="5.51172"
          width="23.1706"
          height="2.84239"
          fill="#41B6A1"></rect>
        <rect
          x="0.9375"
          y="10.0596"
          width="23.1706"
          height="2.84239"
          fill="#41B6A1"></rect>
      </svg>
    </div>
    <div>
      <div
        class="lg:hidden w-screen h-auto bg-black absolute top-0 left-0 hidden"
        id="mobile-menu"
      >
        <div
          class="lg:hidden pr-2 pt-5 flex justify-end"
          id="mobile-menu-icon-close"
        >
          <svg
            width="54"
            height="23"
            viewBox="0 0 24 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              x="0.9375"
              y="0.963867"
              width="23.1706"
              height="2.84239"
              fill="#41B6A1"></rect>
            <rect
              x="0.9375"
              y="5.51172"
              width="23.1706"
              height="2.84239"
              fill="#41B6A1"></rect>
            <rect
              x="0.9375"
              y="10.0596"
              width="23.1706"
              height="2.84239"
              fill="#41B6A1"></rect>
          </svg>
        </div>
        <ul class="w-full flex flex-col">
          <li class="flex">
            <a class="text-white mt-5 ml-5 mb-2 flex-grow" href="/#inicio"
              >INICIO</a
            >
          </li>
          <li class="flex">
            <a class="text-white mt-5 ml-5 mb-2 flex-grow" href="#servicios"
              >SERVICIOS</a
            >
          </li>
          <li class="flex">
            <a class="text-white mt-5 ml-5 mb-2 flex-grow" href="#proyectos"
              >PROYECTOS</a
            >
          </li>
          <li class="flex">
            <a class="text-white mt-5 ml-5 mb-2 flex-grow" href="#quienes-somos"
              >¿QUIÉNES SOMOS?</a
            >
          </li>
          <li class="flex">
            <a class="text-white mt-5 ml-5 mb-2 flex-grow" href="/catalogo"
              >CATALOGO</a
            >
          </li>
          <li class="flex">
            <a class="text-white mt-5 ml-5 mb-5 flex-grow" href="#contacto"
              >CONTACTO</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class="hidden lg:w-full lg:flex lg:justify-end lg:text-white lg:shrink-0"
    >
      <ul class="lg:flex lg:gap-28   lg:items-center shrink lg:cursor-pointer">
        <li class="lg:hover:border-b-2">
          <a href="/#inicio">INICIO</a>
        </li>
        <li class="lg:hover:border-b-2">
          <a href="/#servicios">SERVICIOS</a>
        </li>
        <li class="lg:hover:border-b-2">
          <a href="/#proyectos">PROYECTOS</a>
        </li>
        <li class="lg:hover:border-b-2">
          <a href="/#quienes-somos">¿QUIÉNES SOMOS?</a>
        </li>
        <li class="lg:hover:border-b-2">
          <a href="/catalogo">CATALOGO</a>
        </li> 
      </ul>
    </div>
  </nav>
  <div
    class="hidden lg:flex lg:basis-1/4 lg:justify-center lg:py-4 lg:px-8 lg:text-xs lg:font-bold"
  >
    <a href="#contacto" class="lg:bg-white lg:py-3 lg:px-5"> CONTACTO</a>
  </div>
</header>

<script>
  const menuIcon = document.querySelector("#mobile-menu-icon");
  const menuIconClose = document.querySelector("#mobile-menu-icon-close");
  const mobileMenu = document.querySelector("#mobile-menu");

  if (menuIcon) {
    menuIcon.addEventListener("click", () => {
      if (mobileMenu) {
        mobileMenu.classList.toggle("hidden");
      }
    });
  }

  if (menuIconClose) {
    menuIconClose.addEventListener("click", () => {
      if (mobileMenu) {
        mobileMenu.classList.toggle("hidden");
      }
    });
  }
</script>
