<header class="flex w-full justify-between items-center px-1 py-2 lg:px-6 lg:py-8 bg-transparent fixed top-0 z-10">
  <div class="pl-4 lg:pl-5 lg:flex lg:basis-1/5">
    <img class="w-1/2 lg:w-auto" src="public/logo.png" alt="">
  </div>
  <nav class="lg:w-full">
    <div class="lg:hidden">
      <svg width="54" height="23" viewBox="0 0 24 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.9375" y="0.963867" width="23.1706" height="2.84239" fill="#41B6A1"/>
        <rect x="0.9375" y="5.51172" width="23.1706" height="2.84239" fill="#41B6A1"/>
        <rect x="0.9375" y="10.0596" width="23.1706" height="2.84239" fill="#41B6A1"/>
      </svg>
    </div>
    <div class="hidden lg:w-full lg:flex lg:justify-end lg:text-white lg:shrink-0">
      <ul class="lg:flex lg:gap-32 lg:items-center shrink lg:cursor-pointer">
        <li class="lg:hover:border-b-2">INICIO</li>
        <li class="lg:hover:border-b-2">SERVICIOS</li>
        <li class="lg:hover:border-b-2">PROYECTOS</li>
        <li class="lg:hover:border-b-2">¿QUIÉNES SOMOS?</li>
      </ul>
    </div>
  </nav>
  <div class="hidden lg:flex lg:basis-1/4 lg:justify-center lg:py-4 lg:px-8 lg:text-xs lg:font-bold">
    <a href="" class="lg:bg-white lg:py-3 lg:px-5">
      CONTACTO
    </a>
  </div>
</header>
