---
const { id } = Astro.props
---

<section class="w-screen h-auto flex flex-col text-white justify-stretch pt-32 bg-black">
  <div class="w-full flex justify-center py-8">
    <h2 class="font-extrabold text-2xl lg:text-3xl mb-10 xl:text-5xl">Proceso Creativo de nuestra Agencia</h2>
  </div>

  <section class="w-full grid grid-cols-1 grid-flow-row pt-5 text-wrap px-7 xl:grid-cols-4 xl:pt-10">

    <figure class="flex flex-col justify-start items-center md:px-4 lg:px-12">
      <img class="w-1/6 pt-2 md:w-14 lg:w-14" src="public/evolucion.png" alt="">
      <figcaption class="w-full  text-center flex flex-col">
        <h2 class="py-3 md:text-2xl">Evaluación</h2>
        <p class="xl:text-base">Con un Brief como punto de partida, analizamos las necesidades del cliente. Luego, inmersos en una investigación profunda del mercado, identificamos oportunidades y trazamos caminos viables para la ejecución. Menos palabras, más resultados.</p>
      </figcaption>
    </figure>

    <figure class="flex flex-col justify-start items-center  md:px-4 lg:px-12">
      <img class="w-1/6 pt-2 md:w-14 lg:w-14" src="public/estrategia.png" alt="">
      <figcaption class="w-full text-center flex flex-col">
        <h2 class="py-3 md:text-2xl">Estrategia</h2>
        <p class="xl:text-base">Planificamos objetivos que guían la creación de estrategias y metodologías. Nos aseguramos de alcanzarlos puntualmente para obtener los mejores resultados. Planificación precisa para resultados excepcionales.</p>
      </figcaption>
    </figure>

    <figure class="flex flex-col justify-start items-center md:px-4 lg:px-12">
      <img class="w-1/6 pt-10 md:w-14 lg:w-14 lg:pt-2" src="public/desarrollo.png" alt="">
      <figcaption class="w-full text-center flex flex-col">
        <h2 class="py-3 md:text-2xl">Desarrollo</h2>
        <p class="xl:text-base">Con un equipo talentoso y expertos en cada área, iniciamos la producción del proyecto. Revisiones periódicas en cada etapa aseguran el cumplimiento puntual de los tiempos y objetivos establecidos. Tu visión toma forma con precisión y experiencia.</p>
      </figcaption>
    </figure>

    <figure class="flex flex-col justify-start items-center md:px-4 lg:px-12">
      <img class="w-1/6 pt-10 md:w-14 lg:w-14 lg:pt-2" src="public/entrega.png" alt="">
      <figcaption class="w-full text-center flex flex-col">
        <h2 class="py-3 md:text-2xl">Entrega</h2>
        <p class="xl:text-base">Presentamos el proyecto y lo evaluamos contigo. Si surgen ajustes, los realizamos para garantizar total aprobación y una ejecución impecable. Tu satisfacción es nuestro estándar.</p>
      </figcaption>
    </figure>
  </section>

  <div class="w-full flex justify-center py-8 mt-24">
    <h2 class="font-extrabold text-2xl lg:text-3xl xl:text-5xl" id={id}>¿Quiénes Somos?</h2>
  </div>

  <section class="w-full h-full grid grid-cols-2 grid-flow-row xl:grid-cols-4 pt-10">

    <figure class="flex flex-col justify-center items-center">
      <img class="w-4/6 md:w-2/4 lg:w-1/3 xl:w-2/4" src="public/people.png" alt="">
      <figcaption class="w-full mt-4 text-center">
        <h2>Janice Chen</h2>
        <p>Diseñadora UX</p>
      </figcaption>
    </figure>

    <figure class="flex flex-col justify-center items-center">
      <img class="w-4/6 md:w-2/4 lg:w-1/3 xl:w-2/4" src="public/people.png" alt="">
      <figcaption class="w-full mt-4 text-center">
        <h2>Roberto Reyes</h2>
        <p>Desarrollador Backend</p>
      </figcaption>
    </figure>

    <figure class="flex flex-col justify-center items-center">
      <img class="w-4/6 md:w-2/4 lg:w-1/3  xl:w-2/4 pt-8 xl:pt-0" src="public/people.png" alt="">
      <figcaption class="w-full mt-4 text-center">
        <h2>Kevin Cárdenas</h2>
        <p>Desarrolador Frontend</p>
      </figcaption>
    </figure>

    <figure class="flex flex-col justify-center items-center">
      <img class="w-4/6 md:w-2/4 lg:w-1/3  xl:w-2/4 pt-8 xl:pt-0" src="public/people.png" alt="">
      <figcaption class="w-full mt-4 text-center">
        <h2>Marcos Hernández</h2>
        <p>Desarrolador Frontend</p>
      </figcaption>
    </figure>
  </section>
</section>